@import '../../styles/variables';

.App {
  text-align: center;
  background-color: $background-dark;
  min-height: 100vh;
  color: $text-light;
}

.App-header {
  background-color: $background-dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: $spacing-md;
  font-size: $font-size-base;
  color: $text-light;
}

.App-header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: $spacing-md;
}

.App-title {
  flex: 1;
  text-align: center;
  margin: 0;
}

.App-user-selector {
  width: 250px;
  margin-right: 40px;
}
