@import '../styles/variables';

.user-list {
  padding: $spacing-md;
  background-color: $background-dark;
  min-height: 100vh;
  color: $text-light;

  h2 {
    color: $text-light;
  }

  .error {
    color: $error-color;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: $spacing-sm;
    padding: $spacing-sm;
    background-color: $secondary-bg;
    border-radius: $border-radius;
    color: $text-dark;

    strong {
      display: block;
      margin-bottom: 4px;
    }

    .user-email {
      font-size: $font-size-small;
      color: #666;
    }
  }

  .actions {
    margin-top: $spacing-md;

    a {
      color: $primary-color;
      text-decoration: none;
      margin-right: $spacing-sm;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
