@import '../styles/variables';

.user-selector {
  margin-bottom: $spacing-md;
  padding: $spacing-sm;
  background-color: transparent;
  border-radius: $border-radius;

  label {
    color: $text-light;
    display: flex;
    align-items: center;
    font-size: $font-size-small;

    select {
      margin-left: $spacing-xs;
      padding: 4px;
      border: $border-width solid $border-color;
      border-radius: $border-radius;
      background-color: white;
      color: $text-dark;
      font-size: $font-size-small;
    }
  }
}
